IPL Score Prediction with Machine Learning

• mid: Unique match id.

• date: Date on which the match was played.

• venue: Stadium where match was played.

• battingteam: Batting team name.

• bowlingteam: Bowling team name.

• batsman: Batsman who faced that particular ball.

• bowler: Bowler who bowled that particular ball.

• runs: Runs scored by team till that point of instance.

• wickets: Number of Wickets fallen of the team till that point of instance.

• overs: Number of Overs bowled till that point of instance.

• runslast5: Runs scored in previous 5 overs.

• wicketslast5: Number of Wickets that fell in previous 5 overs.

• striker: max(runs scored by striker, runs scored by non-striker).

• non-striker: min(runs scored by striker, runs scored by non-striker).

• total: Total runs scored by batting team at the end of first innings.

In [29]:
import pandas as pd
import numpy as np

df=pd.read_csv('ipl dataset.csv')
df.head()

,mid,date,venue,batting_team,bowling_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [30]:
df.shape

(76014, 15)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   batting_team    76014 non-null  object
 4   bowling_team    76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [32]:
df_cat=df.select_dtypes(include='object')
df_cat.head()

,date,venue,batting_team,bowling_team,batsman,bowler
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar

In [33]:
df_num=df.select_dtypes(include=['float64','int64'])
df_num.head()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,1,0,0.1,1,0,0,0,222
1,1,1,0,0.2,1,0,0,0,222
2,1,2,0,0.2,2,0,0,0,222
3,1,2,0,0.3,2,0,0,0,222
4,1,2,0,0.4,2,0,0,0,222

In [34]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mid,76014.0,308.627740,178.156878,1.0,154.0,308.0,463.0,617.0
runs,76014.0,74.889349,48.823327,0.0,34.0,70.0,111.0,263.0
wickets,76014.0,2.415844,2.015207,0.0,1.0,2.0,4.0,10.0
overs,76014.0,9.783068,5.772587,0.0,4.6,9.6,14.6,19.6
runs_last_5,76014.0,33.216434,14.914174,0.0,24.0,34.0,43.0,113.0
wickets_last_5,76014.0,1.120307,1.053343,0.0,0.0,1.0,2.0,7.0
striker,76014.0,24.962283,20.079752,0.0,10.0,20.0,35.0,175.0
non-striker,76014.0,8.869287,10.795742,0.0,1.0,5.0,13.0,109.0
total,76014.0,160.901452,29.246231,67.0,142.0,162.0,181.0,263.0

In [35]:
df.columns

Index(['mid', 'date', 'venue', 'batting_team', 'bowling_team', 'batsman',
       'bowler', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'striker', 'non-striker', 'total'],
      dtype='object')

In [36]:
df.drop(labels=['mid','venue','batsman','bowler','striker', 'non-striker'], axis =1 , inplace =True)

In [37]:
df.head()

,date,batting_team,bowling_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [38]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [39]:
consistant=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians','Kings XI Punjab','Royal Challengers Bangalore', 'Delhi Daredevils','Sunrisers Hyderabad']

In [40]:
df=df[(df['batting_team'].isin(consistant))& (df['bowling_team'].isin(consistant))]

In [41]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
       'Delhi Daredevils', 'Sunrisers Hyderabad'], dtype=object)

In [42]:
#filtering the data after 5 overs
df=df[df['overs']>=5.0]

In [43]:
df.head()

,date,batting_team,bowling_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [44]:
from datetime import datetime
df['date']=df['date'].apply (lambda x:datetime.strptime(x, '%Y-%m-%d'))

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40108 entries, 32 to 75888
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            40108 non-null  datetime64[ns]
 1   batting_team    40108 non-null  object
 2   bowling_team    40108 non-null  object
 3   runs            40108 non-null  int64
 4   wickets         40108 non-null  int64
 5   overs           40108 non-null  float64
 6   runs_last_5     40108 non-null  int64
 7   wickets_last_5  40108 non-null  int64
 8   total           40108 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 3.1+ MB

In [47]:
encoded_df=pd.get_dummies(data=df,columns=['batting_team','bowling_team'])
encoded_df.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,batting_team_Chennai Super Kings,batting_team_Delhi Daredevils,batting_team_Kings XI Punjab,...,batting_team_Royal Challengers Bangalore,batting_team_Sunrisers Hyderabad,bowling_team_Chennai Super Kings,bowling_team_Delhi Daredevils,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33,2008-04-18,61,1,5.2,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34,2008-04-18,61,1,5.3,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,2008-04-18,61,1,5.4,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
36,2008-04-18,61,1,5.5,58,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [48]:
encoded_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'batting_team_Chennai Super Kings',
       'batting_team_Delhi Daredevils', 'batting_team_Kings XI Punjab',
       'batting_team_Kolkata Knight Riders', 'batting_team_Mumbai Indians',
       'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bangalore',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Daredevils', 'bowling_team_Kings XI Punjab',
       'bowling_team_Kolkata Knight Riders', 'bowling_team_Mumbai Indians',
       'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bangalore',
       'bowling_team_Sunrisers Hyderabad'],
      dtype='object')

In [52]:
encoded_df=encoded_df[['date', 'batting_team_Chennai Super Kings',
       'batting_team_Delhi Daredevils', 'batting_team_Kings XI Punjab',
       'batting_team_Kolkata Knight Riders', 'batting_team_Mumbai Indians',
       'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bangalore',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Daredevils', 'bowling_team_Kings XI Punjab',
       'bowling_team_Kolkata Knight Riders', 'bowling_team_Mumbai Indians',
       'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bangalore',
       'bowling_team_Sunrisers Hyderabad','runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5','total']]

In [53]:
encoded_df.isnull().sum()

date                                        0
batting_team_Chennai Super Kings            0
batting_team_Delhi Daredevils               0
batting_team_Kings XI Punjab                0
batting_team_Kolkata Knight Riders          0
batting_team_Mumbai Indians                 0
batting_team_Rajasthan Royals               0
batting_team_Royal Challengers Bangalore    0
batting_team_Sunrisers Hyderabad            0
bowling_team_Chennai Super Kings            0
bowling_team_Delhi Daredevils               0
bowling_team_Kings XI Punjab                0
bowling_team_Kolkata Knight Riders          0
bowling_team_Mumbai Indians                 0
bowling_team_Rajasthan Royals               0
bowling_team_Royal Challengers Bangalore    0
bowling_team_Sunrisers Hyderabad            0
runs                                        0
wickets                                     0
overs                                       0
runs_last_5                                 0
wickets_last_5                              0
total                                       0
dtype: int64

In [167]:
models = dict()

In [168]:
y=encoded_df['total']
X=encoded_df.drop(['total','date'],axis=1)

In [169]:
import statsmodels.api as sm

Xc=sm.add_constant(X)

In [170]:
model=sm.OLS(y,Xc).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.659
Model:                            OLS   Adj. R-squared:                  0.659
Method:                 Least Squares   F-statistic:                     4082.
Date:                Sun, 18 Jul 2021   Prob (F-statistic):               0.00
Time:                        23:18:45   Log-Likelihood:            -1.7151e+05
No. Observations:               40108   AIC:                         3.431e+05
Df Residuals:                   40088   BIC:                         3.432e+05
Df Model:                          19
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                      132.8889      0.416    319.125      0.000     132.073     133.705
batting_team_Chennai Super Kings            17.6213      0.228     77.280      0.000      17.174      18.068
batting_team_Delhi Daredevils               14.0432      0.250     56.080      0.000      13.552      14.534
batting_team_Kings XI Punjab                17.8106      0.226     78.701      0.000      17.367      18.254
batting_team_Kolkata Knight Riders          13.4875      0.251     53.819      0.000      12.996      13.979
batting_team_Mumbai Indians                 19.3270      0.223     86.789      0.000      18.891      19.764
batting_team_Rajasthan Royals               12.8228      0.254     50.571      0.000      12.326      13.320
batting_team_Royal Challengers Bangalore    20.0292      0.242     82.686      0.000      19.554      20.504
batting_team_Sunrisers Hyderabad            17.7474      0.277     64.173      0.000      17.205      18.289
bowling_team_Chennai Super Kings            16.7647      0.253     66.384      0.000      16.270      17.260
bowling_team_Delhi Daredevils               17.6420      0.221     79.745      0.000      17.208      18.076
bowling_team_Kings XI Punjab                18.3797      0.242     75.861      0.000      17.905      18.855
bowling_team_Kolkata Knight Riders          13.3530      0.225     59.400      0.000      12.912      13.794
bowling_team_Mumbai Indians                 16.6288      0.229     72.537      0.000      16.179      17.078
bowling_team_Rajasthan Royals               16.9001      0.247     68.531      0.000      16.417      17.383
bowling_team_Royal Challengers Bangalore    17.2271      0.229     75.244      0.000      16.778      17.676
bowling_team_Sunrisers Hyderabad            15.9935      0.352     45.435      0.000      15.304      16.683
runs                                         0.9688      0.007    129.341      0.000       0.954       0.984
wickets                                     -4.9342      0.097    -50.722      0.000      -5.125      -4.744
overs                                       -6.4206      0.074    -87.267      0.000      -6.565      -6.276
runs_last_5                                 -0.0195      0.012     -1.570      0.116      -0.044       0.005
wickets_last_5                              -1.1805      0.122     -9.698      0.000      -1.419      -0.942
==============================================================================
Omnibus:                     1918.258   Durbin-Watson:                   0.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6339.254
Skew:                          -0.145   Prob(JB):                         0.00
Kurtosis:                       4.926   Cond. No.                     7.36e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.17e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [171]:
model.pvalues

const                                       0.000000e+00
batting_team_Chennai Super Kings            0.000000e+00
batting_team_Delhi Daredevils               0.000000e+00
batting_team_Kings XI Punjab                0.000000e+00
batting_team_Kolkata Knight Riders          0.000000e+00
batting_team_Mumbai Indians                 0.000000e+00
batting_team_Rajasthan Royals               0.000000e+00
batting_team_Royal Challengers Bangalore    0.000000e+00
batting_team_Sunrisers Hyderabad            0.000000e+00
bowling_team_Chennai Super Kings            0.000000e+00
bowling_team_Delhi Daredevils               0.000000e+00
bowling_team_Kings XI Punjab                0.000000e+00
bowling_team_Kolkata Knight Riders          0.000000e+00
bowling_team_Mumbai Indians                 0.000000e+00
bowling_team_Rajasthan Royals               0.000000e+00
bowling_team_Royal Challengers Bangalore    0.000000e+00
bowling_team_Sunrisers Hyderabad            0.000000e+00
runs                                        0.000000e+00
wickets                                     0.000000e+00
overs                                       0.000000e+00
runs_last_5                                 1.164771e-01
wickets_last_5                              3.249635e-22
dtype: float64

In [172]:
# import train-test split 
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(Xc,y,test_size=0.3,random_state=1)

In [173]:
#regresion model

from sklearn.linear_model import LinearRegression

LR=LinearRegression()

In [174]:
LR.fit(X_train,y_train)

LinearRegression()

In [175]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(28075, 22)
(12033, 22)
(28075,)
(12033,)

In [176]:
print('The rsquare value of train: ',LR.score(X_train,y_train))
print('The rsquare value of test: ',LR.score(X_test,y_test))

The rsquare value of train:  0.6578890073213532
The rsquare value of test:  0.6621770835630548

In [177]:
models['LR']=LR.score(X_test,y_test)

In [178]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [179]:
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,40]}
ridge_regression=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regression.fit(X_train,y_train)

C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.07208e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.01388e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.07208e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.98462e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.0498e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.0518e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 40]},
             scoring='neg_mean_squared_error')

In [180]:
print(ridge_regression.best_params_)

{'alpha': 40}

In [181]:
print(ridge_regression.best_score_)

-306.12755599092645

In [182]:
prediction=ridge_regression.predict(X_test)

In [183]:
models['ridge_regression']=ridge_regression.score(X_test,y_test)*100

In [184]:
from sklearn import metrics
print('MAE',metrics.mean_absolute_error(y_test,prediction))
print('MSE',metrics.mean_squared_error(y_test,prediction))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,prediction)))

MAE 12.969563185822048
MSE 297.99595601982105
RMSE 17.262559370493737

In [185]:
#Lasso regression
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

In [186]:
lasso=Lasso()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,40]}
lasso_regression=GridSearchCV(lasso,parameters,scoring='neg_mean_squared_error',cv=5)
lasso_regression.fit(X_train,y_train)

C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3394095.921487277, tolerance: 2011.8159933926993
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3224370.7970983535, tolerance: 1995.6602734238647
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3271332.036715276, tolerance: 2010.5750429697234
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3327505.1267089713, tolerance: 2003.4437018878011
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3423041.104225073, tolerance: 2009.3345330543177
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 521991.8832934499, tolerance: 2011.8159933926993
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 825016.0724471183, tolerance: 1995.6602734238647
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 263675.54986931663, tolerance: 2010.5750429697234
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 517908.1154393228, tolerance: 2003.4437018878011
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 525165.6852926984, tolerance: 2009.3345330543177
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 521991.7192666242, tolerance: 2011.8159933926993
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 825016.6820317451, tolerance: 1995.6602734238647
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 263674.9827357242, tolerance: 2010.5750429697234
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 517908.4256678615, tolerance: 2003.4437018878011
  model = cd_fast.enet_coordinate_descent(
C:\Users\Famin\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 525165.3182712542, tolerance: 2009.3345330543177
  model = cd_fast.enet_coordinate_descent(

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 40]},
             scoring='neg_mean_squared_error')

In [187]:
print(lasso_regression.best_params_)
print(lasso_regression.best_score_)

{'alpha': 0.01}
-306.10599050897616

In [188]:
models['lasso_regression']=lasso_regression.score(X_test,y_test)*100

In [189]:
prediction1=lasso_regression.predict(X_test)

In [190]:
print('MAE',metrics.mean_absolute_error(y_test,prediction1))
print('MSE',metrics.mean_squared_error(y_test,prediction1))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,prediction1)))

MAE 12.968756291033063
MSE 298.01776723828624
RMSE 17.263191108201468

In [191]:
#Random forest

In [192]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
forest.fit(X_train,y_train)

RandomForestRegressor()

In [193]:
forest.score(X_train,y_train)

0.9892594502365465

In [194]:
forest.score(X_test,y_test)

0.9271224398815973

In [195]:
prediction_random=forest.predict(X_test)

In [205]:
test_score_forest = str(forest.score(X_test,y_test)*100)

In [206]:
models['forest']=forest.score(X_test,y_test)*100

In [197]:
print('MAE',metrics.mean_absolute_error(y_test,prediction_random))
print('MSE',metrics.mean_squared_error(y_test,prediction_random))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,prediction_random)))

MAE 4.838910316075237
MSE 64.28765918322067
RMSE 8.01795854212409

In [198]:

from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train,y_train)

DecisionTreeRegressor()

In [199]:
tree.score(X_train,y_train)

0.9999205853725383

In [200]:
tree.score(X_test,y_test)

0.8431475855070725

In [201]:
prediction_tree=tree.predict(X_test)

In [210]:
models['tree']=forest.score(X_test,y_test)*100

In [203]:
print('MAE',metrics.mean_absolute_error(y_test,prediction_tree))
print('MSE',metrics.mean_squared_error(y_test,prediction_tree))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,prediction_tree)))

MAE 4.412573755505693
MSE 138.36460151250728
RMSE 11.762848358816298

TypeError: map() must have at least two arguments.